<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Slim&family=Nova+Square&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-light bg-light" style="margin-bottom:30px ;">
          <div class="container-fluid">
            <h1  class="btn btn-outline-info" style=" font-family: 'Nova Square', cursive; width: 300px;   font-size: 35px;">
             <a href="/" class=" btn-outline-info">Tech Blog</a> 
            </h1>
            <form class="d-flex">
              <a href="/" class="btn btn-outline-info" style=" font-family: 'Nova Square', cursive; margin-right:5px ;">Home</a>
              {{#if loggedIn}}
              <button class="btn btn-outline-info">Welcome, {{user.username}}</button>
                <a
                  class="btn btn-outline-info"
                  style="margin-right:5px ;"
                  href="/dashboard"
                >dashboard</a>
                
                <button
                  class="btn btn-outline-info"
                  id="logout"
                  class="btn-no-style"
                >logout</button>
              {{else}}
                <a href="/login" class="btn btn-outline-info">login</a>
              {{/if}}
            </form>
          </div>
        </nav>
      </header>
      <main>

        {{{body}}}

      </main>
      <footer class="bg-info">
        <div class="img">
        <a href="https://github.com/asadi80" target="_blank" > <img src="/image/github-logo-thin.png" width="50px" alt=""></a>
        <a href="https://www.linkedin.com/in/abdurraouf-sadi/" target="_blank"><img src="/image/linkedin-logo-thin.png" width="50px" alt=""></a>
        </div>
      </footer>

    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>