<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Slim&family=Nova+Square&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-light bg-light" style="margin-bottom:30px ;">
          <div class="container-fluid">
            <h1>
              <a href="/" style=" font-family: 'Nova Square', cursive;">Tech
                Blog</a>
            </h1>
            <form class="d-flex">
              {{#if loggedIn}}
                <a
                  class="btn btn-outline-primary"
                  style="margin-right:5px ;"
                  href="/dashboard"
                >dashboard</a>
                <button
                  class="btn btn-outline-primary"
                  id="logout"
                  class="btn-no-style"
                >logout</button>
              {{else}}
                <a href="/login" class="btn btn-outline-primary">login</a>
              {{/if}}
            </form>
          </div>
        </nav>
      </header>
      <main>

        {{{body}}}

      </main>
      <footer class="bg-light">
        <p><i class="fab fa-facebook-f"></i>Facebook</p>
      </footer>

    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>