<div class="container">
<div class="row justify-content-md-center">
  <div class="card shadow-sm p-3 mb-5 bg-body rounded  mb-3" style="max-width: 40rem; ">
    <div >
      <h2>Create New Post</h2>
      <hr>
    </div>
    <div class="card-body">
      <form class="new-post-form">
        <div>
          <label for="post-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="content" class="form-label">Content</label>
          <input class="form-control"  id="floatingTextarea" name="content"></input>
        </div>
        <button type="submit" class="btn btn-outline-info  mt-3 " ><img src="/image/add.png" alt="Creat new post"></button>

      </form>
    </div>
  </div>
</div>
<script src="/javascript/add-post.js"></script>
