<div class="container" style=" margin-bottom:415px ; ">
  <div class="row justify-content-md-center">

    <div class="col-md-6">
      <div
        class="card shadow-sm p-3 mb-5 bg-body rounded border-info mb-3"
        style="max-width: 25rem; margin-left:20px;"
      >
        <form class="login-form">
          <div>
            <label for="email-login" class="form-label">email:</label>
            <input type="control" id="email-login" class="form-control" />
          </div>
          <div>
            <label for="password-login" class="form-label">password:</label>
            <input type="password" id="password-login" class="form-control" />
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-outline-primary mt-3 bottom-0 end-0"
            ><img src="/image/logi.png"  alt=""></button>
          </div>
        <hr>
          <div>If you do not have accout, please <a class="login-link" href="/signup">Signup</a></div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="/javascript/login.js"></script>