<div class="container user-box" style=" margin-bottom:370px ; ">
  <div class="row justify-content-md-center">

    <div class="col-md-6">

      <div class="card shadow-sm p-3 mb-5 bg-body rounded border-info  mb-3"
        style="max-width: 25rem; margin-left:20px;">
        <form class=" signup-form">
          <div>
            <label for="username-signup" class="form-label">username:</label>
            <input type="control" id="username-signup" class="form-control" />
          </div>
          <div>
            <label for="email-signup" class="form-label" class="form-label">email:</label>
            <input type="control" id="email-signup" class="form-control" />
          </div>
          <div>
            <label for="password-signup" class="form-label">password:</label>
            <input type="password" id="password-signup" class="form-control" />
          </div>
          <div>
            <button type="submit" class=".signup-form btn btn-outline-primary mt-3 bottom-0 end-0"><img
                src="/image/signup.png" alt=""></button>
          </div>
          <hr>
          <div>If you have accout, please <a class="login-link" href="/login">Login</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
    <script src="/javascript/signup.js"></script>